.first, .second
{
    justify-self: right;
}

.first
{
    border: 3px solid blue;
    background-color: rgb(245, 177, 215);
    padding: 32px;
    margin: 12px;
    padding-right: 480px;
    /* width: 480px; */

}

.second
{
    background-color: rgb(150, 201, 224);
    border: 3px solid rgb(115, 41, 124);
    margin-bottom: 48px;
    padding-right: 535px;
    /* width: 500px */
}

.third
{
    background-color: rgb(252, 220, 153);
    border: 3px solid rgba(189, 85, 0, 0.979);
    padding: 32px;
    width: 270px;
    margin-left: auto;

}